sectio.nav
  h1 ELIZABETH YASMIN HUANCA PARQUI
  h3.span.loader
    span.m F
    span.m U
    span.m L
    span.m L
    span.m S
    span.m T
    span.m A
    span.m C
    span.m K
    span.m &nbsp;
    span.m of
    span.m &nbsp;
    span.m D
    span.m E
    span.m V
    span.m E
    span.m L
    span.m O
    span.m P
    span.m E
    span.m R


  .nav-container
    a.nav-tab(href="#tab-pwa") PWA
    a.nav-tab(href="#tab-graphql") GraphQL
    a.nav-tab(href="#tab-next") NEXT
    a.nav-tab(href="#tab-typescript") TYPESCRIPT
    a.nav-tab(href="#tab-deno") DENO
    span.nav-tab-slider
main.main
  section#tab-pwa.slider
    h1 PWA
    h2 the best of both worlds...
  section#tab-graphql.slider
    h1 GraphQL
    h2 a query language for APIs
  section#tab-next.slider
    h1 NEXT
    h2 framework for Production
  section#tab-typescript.slider
    h1 TYPESCRIPT
    h2 giving you better tooling at any scale
  section#tab-deno.slider
    h1 DENO
    h2 a modern runtime
canvas.background
